{% load i18n %}
{% if page_object.paginator.num_pages > 1 %}
<div class="pager pagination-centered">
    <ul>
        {% if page_object.has_previous %}
        <li class="previous">
            <a href="?{{ querystring_name }}={{ page_object.previous_page_number }}">&larr; {% trans 'Newer' %}</a>
        </li>
        {% endif %}
        <li>
            <span class="current">
                {% trans 'Page' %} {{ page_object.number }} {% trans 'of' %} {{ page_object.paginator.num_pages }}
            </span>
        </li>
        {% if page_object.has_next %}
        <li class="next{% if not page_object.has_next %} disabled{% endif %}">
            <a href="?{{ querystring_name }}={{ page_object.next_page_number }}">{% trans 'Older' %} &rarr;</a>
        </li>
        {% endif %}
    </ul>
</div>
{% endif %}