{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <h4>{% trans 'What did you do?!' %}</h4>
        <form action="{% url 'action-create' %}" method="post">
            {% csrf_token %}
            <div class="control-group{% if form.thing.errors|length > 0 %} error{% endif %}">
                <div class="controls">
                    {{form.thing}}
                    <input type="submit" value="{% trans 'Salvar' %}" class="btn primary"/>
                </div>
            </div>
        </form>
        <ul>
            {% for action in latest_actions %}
            <li>{{action}}</li>
            {% endfor %}
        </ul>
{% endblock %}