{% extends 'base.html' %}
{% load i18n %}
{% block styles %}
<link rel="stylesheet" href="{{ STATIC_URL }}/css/section/login.css">
{% endblock %}
{% block content %}
<!-- Begin page content -->
<div class="container">
    <div class="page-header">
        <h4>{% trans 'Login' %}</h4>
    </div>
    {% if form.errors %}
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">x</button>
        {% trans 'Login inválido' %}
    </div>
    {% endif %}

    <form action="{% url 'login' %}" method="post" class="form-horizontal" role="form">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group{% if field.errors|length > 0 %} error{% endif %}">
            <label for="{{ field.if_for_label }}" class="col-sm-2 control-label">{{ field.label }}</label>

            <div class="col-sm-2">
                {{ field }}
                {% for error in field.errors %}
                <span class="help-inline">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        {% endfor %}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="{% trans 'Send' %}" class="btn btn-default"/>
            </div>
        </div>


    </form>
</div>
{% endblock %}
